<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="admin dashboard template on Themeforest. Perfect for building CRM, CMS, project management tools, and custom web apps with clean UI, responsive design, and powerful features.">
        <meta name="keywords" content="Vona, Admin dashboard, Themeforest, HTML template,Shadcn, Bootstrap admin, CRM template, CMS template, responsive admin, web app UI, admin theme, best admin template">
        <meta name="author" content="Coderthemes">

        {% include 'layout/header-link.html.twig' %}
        {% block style %}
        {% endblock %}

    </head>
    <body>

        <!-- Begin page -->
        <div class="wrapper">
            {% include 'layout/header.html.twig' %}
            {% include 'layout/sidebar.html.twig' %}

            <!-- ============================================================== -->
            <!-- Start Main Content -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="container-fluid">
                    {% block body %}{% endblock %}
                </div>
                <!-- container -->

                <!-- Footer Start -->
                {% include 'layout/footer.html.twig' %}
                <!-- end Footer -->
            </div>

            <!-- ============================================================== -->
            <!-- End of Main Content -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->

        <!-- Offcanvas -->
        {% include 'layout/offcanvas.html.twig' %}

        {% include 'layout/footer-link.html.twig' %}
        {% block scripts %}{% endblock %}
    </body>
</html>
