<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                © <script>document.write(new Date().getFullYear())</script> Vona By <span class="fw-semibold">Coderthemes</span>
            </div>
            <div class="col-md-6">
                <div class="text-md-end d-none d-md-block">
                    59.5GB of <span class="fw-bold">200GB</span> Free.
                </div>
            </div>
        </div>
    </div>
</footer>
