<!-- Sidenav Menu Start -->
<div class="sidenav-menu">
    <div class="scrollbar" data-simplebar>

        <!-- User -->
        <div class="sidenav-user text-nowrap border border-dashed rounded-3">
            <a href="#!" class="sidenav-user-name d-flex align-items-center">
                <img src="assets/images/users/user-2.jpg" width="36" class="rounded-circle me-2 d-flex"
                     alt="user-image">
                <span>
                    <h5 class="my-0 fw-semibold">Maxine Kennedy</h5>
                    <h6 class="my-0 text-muted">Admin Head</h6>
                </span>
            </a>
        </div>

        <!--- Sidenav Menu -->
        <ul class="side-nav">

            <li class="side-nav-item">
                <a href="index.html" class="side-nav-link">
                    <span class="menu-icon"><i data-lucide="circle-gauge"></i></span>
                    <span class="menu-text" data-lang="dashboard">Dashboard</span>
                </a>
            </li>

        </ul>
    </div>

    <div class="menu-collapse-box d-none d-xl-block">
        <button class="button-collapse-toggle">
            <i data-lucide="square-chevron-left" class="align-middle flex-shrink-0"></i> <span>Collapse Menu</span>
        </button>
    </div>
</div>
<!-- Sidenav Menu End -->

<script>
    // Note: If you do not want any of this logic here, you can remove it. It's already in app.js. This is for removing delays.

    // Sidenav Icons
    lucide.createIcons();

    // Sidenav Link Activation
    const currentUrlT = window.location.href.split(/[?#]/)[0];
    const currentPageT = window.location.pathname.split("https://coderthemes.com/").pop();
    const sideNavT = document.querySelector('.side-nav');

    document.querySelectorAll('.side-nav-link[href]').forEach(link => {
        const linkHref = link.getAttribute('href');
        if (!linkHref) return;

        const match = linkHref === currentPageT || link.href === currentUrlT;

        if (match) {
            // Mark link and its li active
            link.classList.add('active');
            const li = link.closest('li.side-nav-item');
            if (li) li.classList.add('active');

            // Expand all parent .collapse and set toggles
            let parentCollapse = link.closest('.collapse');
            while (parentCollapse) {
                parentCollapse.classList.add('show');

                const parentToggle = document.querySelector(`a[href="#${parentCollapse.id}"]`);
                if (parentToggle) {
                    parentToggle.setAttribute('aria-expanded', 'true');
                    const parentLi = parentToggle.closest('li.side-nav-item');
                    if (parentLi) parentLi.classList.add('active');
                }

                parentCollapse = parentCollapse.parentElement.closest('.collapse');
            }
        }
    });
</script>
